[submodule "external/pico-sdk"]
	path = external/pico-sdk
	url = https://github.com/raspberrypi/pico-sdk.git
[submodule "external/picotool"]
	path = external/picotool
	url = https://github.com/raspberrypi/picotool.git
